pytest
pymssql
pylint
mock
pytest-cov
aiohttp
requests
pytest-asyncio
pytest-cov
pylint
pymssql
# python3 -m venv .venv
# source .venv/bin/activate
# pip3 install --pre --no-binary :all: -r requirements.txt --no-cache

